* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 150px 0px;
    
}
.form-login{
    width: 448px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

.form-login input {
    width: 384px;
    height: 42px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.form-login button {
    width: 384px;
    height: 42px;
    color: #fff;
    border-radius: 6px;
    background-color: #3B82F6;
    border: none;
}

.form-login a{
    text-decoration: none;
}

.alert{
    color: red;
    display: none;
    margin-left: 1px;
}
